body {
  align-items: center;
  background-color: salmon;
}

h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 500px;
}

.container .result, .container .flagCounter {
  margin: 10px;
  font-size: 36px;
  text-align: center;
}

.grid {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid #5B6DCD 4px;
  border-radius: 6px;
}

.gridItem, .checked, .showBomb {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: solid #5B6DCD 2px;
  padding: 5px;
  background-color: #daceda;
}

.checked {
  background-color: red;
}

.showBomb {
  background-color: orange;
}
